<a href="https://colab.research.google.com/github/gladys-4232401010/Pemrograman-Dasar/blob/main/praktikum_08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# Membuat data dummy mahasiswa
data = {
    'Nama': ['Aldi', 'Budi', 'Citra', 'Dewi', 'Eka', 'Fajar'],
    'Umur': [20, 21, 22, None, 23, 21],
    'Nilai_Tugas': [85, 90, None, 78, 88, 90],
    'Nilai_UAS': [80, 92, 85, 70, None, 95],
    'Jurusan': ['Energi', 'Energi', 'Teknik', 'Teknik', 'Energi', None]
}

df = pd.DataFrame(data)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Nama         6 non-null      object
 1   Umur         5 non-null      float64
 2   Nilai_Tugas  5 non-null      float64
 3   Nilai_UAS    5 non-null      float64
 4   Jurusan      5 non-null      object
dtypes: float64(3), object(2)
memory usage: 372.0+ bytes

In [2]:
import pandas as pd

# Membuat data dummy mahasiswa
data = {
    'Nama': ['Aldi', 'Budi', 'Citra', 'Dewi', 'Eka', 'Fajar'],
    'Umur': [20, 21, 22, None, 23, 21],
    'Nilai_Tugas': [85, 90, None, 78, 88, 90],
    'Nilai_UAS': [80, 92, 85, 70, None, 95],
    'Jurusan': ['Energi', 'Energi', 'Teknik', 'Teknik', 'Energi', None]
}

df = pd.DataFrame(data)
df.describe()

            Umur  Nilai_Tugas  Nilai_UAS
count   5.000000      5.00000   5.000000
mean   21.400000     86.20000  84.400000
std     1.140175      5.01996   9.964939
min    20.000000     78.00000  70.000000
25%    21.000000     85.00000  80.000000
50%    21.000000     88.00000  85.000000
75%    22.000000     90.00000  92.000000
max    23.000000     90.00000  95.000000

In [3]:
import pandas as pd

# Membuat data dummy mahasiswa
data = {
    'Nama': ['Aldi', 'Budi', 'Citra', 'Dewi', 'Eka', 'Fajar'],
    'Umur': [20, 21, 22, None, 23, 21],
    'Nilai_Tugas': [85, 90, None, 78, 88, 90],
    'Nilai_UAS': [80, 92, 85, 70, None, 95],
    'Jurusan': ['Energi', 'Energi', 'Teknik', 'Teknik', 'Energi', None]
}

df = pd.DataFrame(data)
df.isnull().sum()

Nama           0
Umur           1
Nilai_Tugas    1
Nilai_UAS      1
Jurusan        1
dtype: int64

In [4]:
import pandas as pd

# Membuat data dummy mahasiswa
data = {
    'Nama': ['Aldi', 'Budi', 'Citra', 'Dewi', 'Eka', 'Fajar'],
    'Umur': [20, 21, 22, None, 23, 21],
    'Nilai_Tugas': [85, 90, None, 78, 88, 90],
    'Nilai_UAS': [80, 92, 85, 70, None, 95],
    'Jurusan': ['Energi', 'Energi', 'Teknik', 'Teknik', 'Energi', None]
}

df = pd.DataFrame(data)
df.duplicated().sum()

np.int64(0)